binds {
  Mod+Q { spawn "kitty"; }
  Mod+R { spawn-sh "noctalia msg panel-toggle launcher"; }
  Mod+B { spawn "librewolf"; }
  Mod+E { spawn "dolphin"; }
  Mod+T { spawn "Telegram"; }

  Mod+O repeat=false { toggle-overview; }

  Mod+C repeat=false { close-window; }

  Mod+H     { focus-column-left; }
  Mod+L     { focus-column-right; }

  Mod+Shift+H     { move-column-left; }
  Mod+Shift+L     { move-column-right; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+0 { focus-workspace 10; }

  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }
  Mod+Shift+0 { move-column-to-workspace 10; }

  Mod+Tab { focus-workspace-previous; }

  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Shift+Print { screenshot-window; }

  Mod+Shift+Delete { quit; }

  XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
  XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
  XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }

  XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
  XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}
