hotkey-overlay {
  skip-at-startup
} 

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24 
}

workspace "browser"
workspace "code"
workspace "chats"
workspace "games"

debug {
  honor-xdg-activation-with-invalid-serial
}

